/* General reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.heading h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"].form-control {
  display: block;
  width: calc(100% - 22px); /* Accounting for padding and border */
}

input[type="text"].custom-label-input {
  margin-bottom: 20px;
}

button.btn {
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: #0056b3;
}

label.btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

label.btn:hover {
  background-color: #1e7e34;
}

.banner-section {
  background-color: #e9ecef;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.upload_box, .searchbar-input {
  text-align: center;
  padding: 10px;
}

header h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: #666;
  margin-bottom: 20px;
}
